*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #faf9fa;
}

.container{
    width: 63%;
    margin: auto;
}

.padding{
    padding: 20px;
    position: relative;
}

.hide{
    display: none;
}

.hidden-menu{
    display: none;
}

.comments-link{
    color: #007bff;
    font-size: 12px;
}

hr{
    border: 0.5px solid #efeeef;
}

h2{
    color: #484748;
    text-decoration: none;
}

img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    text-decoration: underline;
}

.see-more{
    font-size: 12px;
    color: #007bff;
    margin-bottom: 20px;
    text-decoration: none;
}

.see-more:hover{
    text-decoration: underline;
}

.insights{
    float: right;
}

.insights span{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.insights a{
    padding-left: 1px;
    text-decoration: none;
}

.insights .like{
    color: #198754;
}

.insights .dislike{
    color: #dc3545;
}

.insights .comment{
    color: #a4a5a8;
}

input[type=text]{
    width: 100%;
    height: 30px;

    margin-top: 5px;
    padding-left: 15px; 
    margin-bottom: 20px;

    border-radius: 5px;
    border: 0.5px solid #e9e8e9;
}

input[type=text]:focus{
    padding-left: 15px; 
    border-color: #cce5ff;

    outline: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) , 0 0 8px #cce5ff;
}

input[type=email]{
    width: 100%;
    height: 30px;

    margin-top: 5px;
    padding-left: 15px; 
    margin-bottom: 20px;

    border-radius: 5px;
    border: 0.5px solid #e9e8e9;
}

input[type=email]:focus{
    padding-left: 15px; 
    border-color: #cce5ff;

    outline: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) , 0 0 8px #cce5ff;
}

input[type=submit]{
    color: #17a2b8;
    padding: 6px 10px;
    border-radius: 3px;
    border: 0.5px solid #17a2b8;
    background-color: transparent;

    transition: 0.3s;
}

input[type=submit]:hover{
    color: #fff;
    background-color: #17a2b8;
}

input[type=password]{
    width: 100%;
    height: 30px;

    margin-top: 5px;
    padding-left: 15px; 
    margin-bottom: 20px;

    border-radius: 5px;
    border: 0.5px solid #e9e8e9;
}

input[type=password]:focus{
    padding-left: 15px; 
    border-color: #cce5ff;

    outline: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) , 0 0 8px #cce5ff;
}

textArea{
    width: 100%;
    resize: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 0.5px solid #e9e8e9;
}

textArea:focus{
    outline: 0 none;
    border-radius: 5px;
    border-color: #cce5ff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) , 0 0 8px #cce5ff;
}

.read-more-btn{
    color: #17a2b8;
    cursor: pointer;
    font-size: 13px;
}

.message{
    width: 64%;
}

.done-message{
    display: none;
    color: #0c5460;
    padding: 0.75rem 1%;
    border-color: #bee5eb;
    background-color: #d1ecf1;

    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
}

.error-message{
    display: none;
    color: #721c24;
    padding: 0.75rem 1%;
    border-color: #f5c6cb;
    background-color: #f8d7da;

    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
}


/* start header */
.header{
    width: 100%;
    margin-bottom: 20px;
    background-color: #556e80;
}

.header-links{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-links a{
    color: #7c919e;
    padding-left: 10px;
    text-decoration: none;

    transition: 0.3s;
}

.header-links a:hover{
    color: #eee;
}

.header-links span{
    cursor: pointer;
    font-size: 20px;
    color: #b5bbc0;
    padding-right: 10px;
}

#logo{
    display: inline-block;
    width: 130px;
    color: #b5bbc0;
    font-size: 22px;
}

#menu{
    display: none;
}
/* end header */


/* start side bar */
.side-bar{
    width: 31%;
    float: right;
    background-color: #fff;
    border: 1.5px solid #efeeef;
}

.side-bar p{
    margin: 5px 0;
    font-size: 12px;
    color: #a4a5a8;
}

.side-bar ul{
    margin-top: 10px;
    list-style-type: none;
}

.side-bar ul li{
    font-size: 14px;
    text-align: left;
    color: #a4a5a8;
    padding: 10px 20px;
    background-color: #fcfcfc;
    border: 0.5px solid #f1f1f1;
}
/* end side bar */


/* start post page */
.post{
    width: 64%;
    margin-bottom: 20px;
    display: inline-block;
    list-style-type: none;
    background-color: #fff;
    border: 0.5px solid #efeeef;
}

.post-content{
    display: flex;
}

.post-desc{
    width: 100%;
    margin-left: 15px;
    margin-bottom: 10px;
}

.post-date{
    font-size: 12px;
    color: #a4a5a8;
    margin-left: 5px;
    display: inline-block;
}

.username{
    font-size: 20px;
    color: #007bff;
}

.post-desc hr{
    margin: 3px 0 7px 0;
}

.post-desc a:hover{
    text-decoration: none;
}

.post-title{
    transition: 0.3s;
}

.post-title:hover{
    color: #007bff;
}

.content{
    margin: 10px 0;
    line-height: 1.3;
    text-align: justify;
}
/* end post page */


/* start profile page */
.profile{
    width: 64%;
    list-style-type: none;
    background-color: #fff;
    border: 0.5px solid #efeeef;
}

.profile-user-info{
    display: flex;
}

.profile-user-info .user-data{
    margin-left: 10px;
}

.user-data p:nth-child(1){
    font-size: 36px;
    color: #484748;
    font-weight: 500; 
}

.user-data p:nth-child(2){
    margin-top: 7px;
    font-size: 15px;
    color: #86898d;
    font-weight: 500; 
}

.profile-user-info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile h2{
    margin-top: 10px;
    color: #484748;
}

.profile hr{
    margin: 3px 0 20px 0;
    border: 0.5px solid #efeeef;
}

.profile .username-rules{
    display: block;
    font-size: 12px;
    color: #aaabae;
    margin-top: -15px;
}

.image-info{
    font-size: 16px;
    margin-bottom: 20px;
}

.change-img-button{
    display: block;
    margin-top: 5px;
}

#img-path{
    color: #17a2b8;
}
/* end profile page */


/* start log in page */
.login{
    width: 64%;
    margin: 0 0 10px 0;
    background-color: #fff;
    border: 0.5px solid #efeeef;
}

.login h2{
    color: #484748;
    text-decoration: none;
}

.login hr{
    margin: 3px 0 20px 0;
    border: 0.5px solid #efeeef;
}

.login a{
    font-size: 12px;
    color: #007bff;
    margin-left: 5px;
    text-decoration: none;

}

.login a:hover{
    text-decoration: underline;
}

.sigin{
    width: 64%;
}

.sigin hr{
    margin-bottom: 10px;
    border: 0.5px solid #efeeef;
}

.sigin span{
    font-size: 12px;
    color: #a4a5a8;
    margin-right: 3px;
}

.sigin a{
    font-size: 12px;
    color: #007bff;
    margin-left: 5px;
    text-decoration: none;
}

.sigin a:hover{
    text-decoration: underline;
}
/* end log in page */


/* start register page */
.register{
    width: 64%;
    margin: 0 0 10px 0;
    background-color: #fff;
    border: 0.5px solid #efeeef;
}

.register h2{
    color: #484748;
    text-decoration: none;
}

.register hr{
    margin: 3px 0 20px 0;
    border: 0.5px solid #efeeef;
}

.register a{
    font-size: 12px;
    color: #007bff;
    margin-left: 5px;
    text-decoration: none;
}

.register a:hover{
    text-decoration: underline;
}

.register ul{
    margin: -10px 0 20px 40px;    
}

.register ul li{
    padding: 2px;
    font-size: 11px;
    color: #aaabae;
}

.confirm-pass-message{
    display: block;
    font-size: 12px;
    color: #aaabae;
    margin-top: -15px;
}

.signup{
    width: 64%;
}

.signup hr{
    margin-bottom: 10px;
    border: 0.5px solid #efeeef;
}

.signup span{
    font-size: 12px;
    color: #a4a5a8;
    margin-right: 3px;
}

.signup a{
    font-size: 12px;
    color: #007bff;
    margin-left: 5px;
    text-decoration: none;
}

.signup a:hover{
    text-decoration: underline;
}
/* end register page */


/* start add post page */
.new-post{
    width: 64%;
    background-color: #fff;
    border: 0.5px solid #efeeef;
}

.new-post h2{
    color: #484748;
    text-decoration: none;
}

.new-post hr{
    border: 0.5px solid #efeeef;
}
/* end add post page */


/* start update post page */
.update-post{
    width: 64%;
    background-color: #fff;
    border: 0.5px solid #efeeef;
}

.update-post h2{
    color: #484748;
    text-decoration: none;
}

.update-post hr{
    border: 0.5px solid #efeeef;
}
/* end update post page */


/* start delete post page */
.delete-post{
    width: 64%;
    background-color: #fff;
    border: 0.5px solid #efeeef;
}

.delete-post h2{
    color: #484748;
    text-decoration: none;
}

.delete-post hr{
    border: 0.5px solid #efeeef;
}

.delete-post h2:nth-of-type(2){
    color: #000;
}

.confirmation-buttons{
    margin-top: 20px;
}

.confirmation-buttons button:nth-of-type(1){
    color: #FF0000;
    margin-right: 5px;
    padding: 6px 10px;
    border-radius: 3px;
    border: 0.5px solid #FF0000;
    background-color: transparent;

    transition: 0.3s;
}

.confirmation-buttons button:nth-of-type(1):hover{
    color: #fff;
    background-color: #FF0000;
}

#cancel{
    color: #6c757d;
    padding: 6px 10px;
    border-radius: 3px;
    text-decoration: none;
    border: 0.5px solid #6c757d;
    background-color: transparent;

    transition: 0.3s;
}

#cancel:hover{
    color: #fff;
    background-color: #6c757d;
}
/* end delete post page */


/* start user post page */
#update-post-btn{
    margin: 0px;
    width: 70px;
    height: 30px;
    margin: 5px 0;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    background-color: #6c757d;
    border: 0.5px solid #6c757d;

    transition: 0.3s;
}

#delete-post-btn{
    margin: 0px;
    width: 70px;
    height: 30px;
    margin: 5px 0;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    background-color: #FF0000;
    border: 0.5px solid #FF0000;

    transition: 0.3s;
}

#update-post-btn:hover, #delete-post-btn:hover{
    color: #000;
    font-weight: bold;
}
/* end user post page */


/* start comment page */
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comments{
    width: 64%;
    margin-top: 20px;
    display: inline-block;
}

.comment-page{
    width: 64%;
    margin: 20px 0;
    list-style: none;
    background-color: #fff;
    border: 0.5px solid #efeeef;
}

.comment-page .padding{
    position: relative;
}

.comment-page .insights{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.user-info{
    margin-top: -53px;
    margin-left: 60px;
}

.user-info p{
    text-align: justify;
}

.meta{
    margin: 0;
    font-size: 13px;
    color: #aaaaaa;
}

.pull-right{
    float: right;
}

.meta a{
    color: #007bff;
    text-decoration: none;

    transition: 0.3s;
}

.meta span{
    font-size: 15px;
}

.meta span:hover{
    text-decoration: none;
}

.comment-body .content{
    margin: 10px 0;
}

.break-line{
    margin: 10px 0; 
    border: 0.5px solid #efeeef;
}

.no-comments{
    margin: 15px 0;
}

.line{
    width: 64%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.add-comment-btn{
    width: 50px;
    float: right;
    color: #17a2b8;
    padding: 6px 10px;
    border-radius: 3px;
    border: 0.5px solid #17a2b8;
    background-color: transparent;

    transition: 0.3s;
}

.add-comment-btn:hover{
    color: #fff;
    background-color: #17a2b8;
}

.add-comment{
    width: 64%;
    margin: 190px 0 50px 0;
}

#delete-comment{
    color: #dc3545;
}

#update-comment{
    color: #198754;
}
/* end comment page */


/* start logout page */
.logout{
    width: 64%;
    margin-bottom: 20px;
}

.logout hr{
    margin: 3px 0 10px 0;
    border: 0.5px solid #efeeef;
}

.logout h2{
    color: #484748;
}

.logout a{
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}

.logout a:hover{
    text-decoration: underline;
}
/* end logout page */


/* start request pass reset page */
.reset-pass-request{
    width: 64%;
    margin: 0 0 10px 0;
    background-color: #fff;
    border: 0.5px solid #efeeef;
}

.reset-pass-request h2{
    color: #484748;
    text-decoration: none;
}

.reset-pass-request hr{
    margin: 3px 0 20px 0;
    border: 0.5px solid #efeeef;
}
/* end request pass reset page */


/* start pass reset page */
.reset-password{
    width: 64%;
    margin: 0 0 10px 0;
    background-color: #fff;
    border: 0.5px solid #efeeef;
}

.reset-password h2{
    color: #484748;
    text-decoration: none;
}

.reset-password hr{
    margin: 3px 0 20px 0;
    border: 0.5px solid #efeeef;
}

.reset-password ul{
    margin: 0 0 20px 40px;    
}

.reset-password ul li{
    padding: 5px;
    font-size: 12px;
    color: #aaabae;
    text-indent: -6px;
}

.confirm-pass-message{
    display: block;
    font-size: 12px;
    color: #aaabae;
    margin-top: -15px;
}
/* end pass reset page */


/*start add comment*/
.new-comment{
    width: 64%;
    background-color: #fff;
    border: 0.5px solid #efeeef;
}

.new-comment h2{
    color: #484748;
    text-decoration: none;
}

.new-comment hr{
    border: 0.5px solid #efeeef;
}
/*end add comment*/

/* start pagination*/
.home-pagination{
    width: 64%;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
    
    transition: 0.3s;
}

.home-pagination a{
    color: #17a2b8;
    padding: 6px 10px;
}

.home-pagination a:hover{
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    background-color: #17a2b8;
}

.current-page{
    border-radius: 3px;
    border: 0.5px solid #17a2b8;
}
/* end pagination*/

@media (max-width: 1000px) { 

    .container{
        width: 90%;
    }

    .header-links{
        width: 100%;
        display: block;
        position: relative;
    }

    .side-bar{
        display: none;
    }

    #links{
        background-color: #556e80;
        padding-top: 100px;
        position: absolute;
        display: none;
        height: 100vh;
        width: 112%;
        right: -118%;
        z-index: 1;
        top: 0;
    }

    #links a{
        display: flex;
        padding: 30px;
        font-size: 30px;
        justify-content: center;
    }

    #logo{
        padding-top: 15px;
        display: inline-block;
    }

    #menu{
        top: 18px;
        float: right;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        position: relative;
    }

    #menu span{
        z-index: 2;
        width: 100%;
        height: 2px;
        margin-bottom: 5px;
        background-color: #b5bbc0;
    }

    .home-pagination, .new-comment ,
    .reset-password, .reset-pass-request ,
    .logout, .add-comment ,
    .line, .comment-page,
    .comments, .delete-post,
    .update-post, .new-post,
    .signup, .register,
    .sigin, .login,
    .message, .profile, .post{ width: 100%; }
    
}

@media (max-width: 200px) { 
    #logo{
        display: none;
    }
}

@media (min-width: 1200px) {  }