<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>blog app</display-name>
    <!--servlet-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ma.controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>ma.controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>ma.controllers.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostActions</servlet-name>
        <servlet-class>ma.controllers.PostActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetail</servlet-name>
        <servlet-class>ma.controllers.PostDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Email</servlet-name>
        <servlet-class>ma.controllers.Email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailAddress</servlet-name>
        <servlet-class>ma.controllers.VerifyEmailAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>ma.controllers.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyPassword</servlet-name>
        <servlet-class>ma.controllers.VerifyPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>ma.controllers.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePosts</servlet-name>
        <servlet-class>ma.controllers.HomePosts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>ma.controllers.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostInsights</servlet-name>
        <servlet-class>ma.controllers.PostInsights</servlet-class>
    </servlet>
    
    <!-- Servlet Mapping -->
    <servlet>
        <servlet-name>Comments</servlet-name>
        <servlet-class>ma.controllers.Comments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentActions</servlet-name>
        <servlet-class>ma.controllers.CommentActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentInsights</servlet-name>
        <servlet-class>ma.controllers.CommentInsights</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostActions</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetail</servlet-name>
        <url-pattern>/post-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Email</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailAddress</servlet-name>
        <url-pattern>/verify-email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/edit-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyPassword</servlet-name>
        <url-pattern>/verify-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePosts</servlet-name>
        <url-pattern>/home-posts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostInsights</servlet-name>
        <url-pattern>/post-insights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comments</servlet-name>
        <url-pattern>/comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentActions</servlet-name>
        <url-pattern>/comment-action</url-pattern>
    </servlet-mapping>
    <!-- welcome files -->
    <servlet-mapping>
        <servlet-name>CommentInsights</servlet-name>
        <url-pattern>/comment-insight</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home-posts</welcome-file>
    </welcome-file-list>
</web-app>
